{% include "vueEntete.html" %}
{% include "vueEnteteUsager.html" %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="col-md-3">
                <p class="alert alert-info" role="alert">Nous sommes le {% print lesDates[0]['fr'] %}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

	<div class="row">
		<div class="col-md-1"></div>
	
			{% for i in range(5) %}

				<div class="col-md-1">

                   <a data-bs-toggle="tooltip" data-bs-placement="bottom"
					
						{% if lesDates[i]['reservee'] %}
							href="/usager/reservations/annuler/{{ lesDates[i]['iso'] }}" 
							class="btn btn-success"
						{% else %}
							href="/usager/reservations/enregistrer/{{ lesDates[i]['iso'] }}"
							class="btn btn-default"
						{% endif %}
						
						{% if lesDates[i]['verrouillee'] %}
							disabled="disabled"
						{% endif %}

                        {%if i == 0%}
                            title="Lundi"
                        {%elif i == 1%}
                            title="Mardi"
                        {%elif i == 2%}
                            title="Mercredi"
                        {%elif i == 3%}
                            title="Jeudi"
                        {%elif i == 4%}
                            title="Vendredi"
                        {%endif%}
					>
					    {{ lesDates[i]['fr'] }}


					</a>
				
				</div>
				<div class="col-md-1"></div>
			
			{% endfor%}

	</div>
	
	<p></p>
	
	<div class="row">
		<div class="col-md-1"></div>
		
			{% for i in range(5,10) %}
			
				<div class="col-md-1">

					<a data-bs-toggle="tooltip" data-bs-placement="bottom"
					
						{% if lesDates[i]['reservee'] %}
							href="/usager/reservations/annuler/{{ lesDates[i]['iso'] }}" 
							class="btn btn-success"
						{% else %}
							href="/usager/reservations/enregistrer/{{ lesDates[i]['iso'] }}"
							class="btn btn-default"
						{% endif %}
						
						{% if lesDates[i]['verrouillee'] %}
							disabled="disabled"
						{% endif %}

                        {%if i == 5%}
                            title="Lundi"
                        {%elif i == 6%}
                            title="Mardi"
                        {%elif i == 7%}
                            title="Mercredi"
                        {%elif i == 8%}
                            title="Jeudi"
                        {%elif i == 9%}
                            title="Vendredi"
                        {%endif%}
					
					>
					
						{{ lesDates[i]['fr'] }}
					</a>
				
				</div>
				<div class="col-md-1"></div>
			
			{% endfor%}
		
	</div>
	
	<p></p>
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			
			{% if soldeInsuffisant == True %}
				<p class="alert alert-danger" role="alert">Solde insuffisant</p>
			{% endif %}
			
		</div>
		
	</div>
	
</div>

{% include "vuePied.html" %}
